* {
  font-family: textbook-new, sans-serif;
}

body {
  background-color: white;
}

.container {
  width: 100vw;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.container h2 {
  color: purple;
}

.container header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-right: 40px;
  margin-left: 40px;
}

.container header .shopping {
  position: relative;
  text-align: right;
  margin-top: 30px;
}

.container header .shopping i {
  font-size: 3rem;
  color: purple;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}

.container header .shopping span {
  background: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -5px;
  left: 60%;
  padding: 3px 10px;
}

.container .list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.container .list .item .category{
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #808080;
  padding-top: 10px;
  padding-bottom: 15px;
}

.container .list .item .title{
  font-size: .900rem;
  font-weight: 400;
  letter-spacing: .02em;
  color: #000000;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 15px;
}

.container .list .item .ratting{
  color: #FF8C00;
  font-size: 18px;
  padding-bottom: 10px;
}

.container .list .item button{
  background-color: green;
  color: #FFFFFF;
  width: 200px;
  height: 45px;
  text-align: center;
  border-style: none;
}

.container .list .item .iconCart{
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 10px;
}

.container .list .item .price {
  font-weight: 600;
  padding-bottom: 15px;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden; 
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #0a101d;
  height: 100vh;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.card .content {
  overflow-y: auto;
  flex: 1;
  margin-bottom: 50px;
}

.active .card {
  left: calc(100% - 500px)
}

.active .container {
  transform: translateX(-200px);
  -webkit-transition: tratranslateX(-200px);
  -moz-transition: translateX(-200px);
  -ms-transition: translateX(-200px);
  -o-transition: translateX(-200px);
}

.card h1 {
  color: purple;
  font-weight: 300;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.card .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card .checkOut div {
  background-color: #375a66;
  color: white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.card .checkOut div:nth-child(2) {
  background-color: grey;
  color: white;
}

.list .item {
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 50px 50px grey;
  letter-spacing: 1px;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}

.list .item img{
  width: 100%;
  height: auto;
}


.list .item button {
  background: #ffffff;
  color: #375a66;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  border: 3px solid purple;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  transition: all 0.2;
  -webkit-transition: all 0.2;
  -moz-transition: all 0.2;
  -ms-transition: all 0.2;
  -o-transition: all 0.2;
}

.listCard li {
  overflow: scroll;
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #FFFFFF;
  row-gap: 20px;
  margin-top: 10px;
}

.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listCard li img {
  width: 90%;
}

.listCard .total {
  margin: 0px 10px;
  color: purple;
}

.cardTitle,
.cardPrice {
  color: #FFFFFF;
}

.cardButton {
  width: 28px;
  height: 28px;
  background: #ffffff;
  color: #0a101d;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.card .topContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  color: white
}

.card .topContent .closeShopping i{
  font-size: 2rem;
}

.container .navImg {
  margin-left: 40px;
}

.container .navImg .homeLogo {
  height: 100px;
  background-color: transparent;
}